
{% include 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
<!-- Название у нас будет products -->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<center>
    <h1>Все товары</h1>
    <h2>{{time_now|date:'M d Y'}}</h2>
    <h3>
        {{next_sale|default_if_none:'Чуть позже сообщим о распродаже'}}
    </h3>
    <p></p>
    {% if products %}
    <table>
        <tr>
            <td>
                Название
            </td>
            <td>
                Описание
            </td>
            <td>
                Категория
            </td>
            <td>
                Цена
            </td>
            <td>
                Количество
            </td>
        </tr>
        {% for product in products %}
        <tr><td>
            {{product.name}}
        </td>
        <td>
            {{product.description|truncatewords:2}}
        </td>
        <td>
            {{product.category}}
        </td>
        <td>
            {{product.price|currenty:'usd'}}
        </td>
        <td>
            {{product.quantity}} штуки
        </td></tr>
        {% endfor %}
    </table>
    {% else %}
        <h3>{% current_time '%b %d %Y' %}</h3>

    <h2>
        Товаров нет!
    </h2>
    {% endif %}
</center>
{% endblock content %}

